<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        
        <li>
            <span>User listing</span>
        </li>
    </ul>
    
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title"> Danh sach 
    <small>thong tin thanh vien</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
    <p> Danh sach thanh vien</p>
</div>


<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Thanh vien</span>
        </div>
        <div class="actions">
            <%= link_to "Add new user", {:action => 'new' }%>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>                        
                        <th> # </th>
                        <th> Username </th>
                        <th> Full name </th>                        
                        <th> Status </th>
                        <th> Birthday</th>
                        <th> Last login </th>                    
                    </tr>
                </thead>
                <tbody>
                    <% if !@users.blank? %>
    	                <% @users.each do |c| %>				   	
    				   	<tr>
                            <td> 1 </td>
                            <td> <%= link_to c.name, {:action => 'show', :id => c.id} -%> </td>
                            <td> <%= c.name -%> </td>
                            <td> makr124 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                            <td>
                            <%= c.birthday -%> 
                            </td>
                        </tr>
    				    <% end %>
                    <% else %>
                        <tr> 
                            <td colspan="99">
                                Khong co du lieu
                            </td>
                        </tr>
                    <% end %>
	                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



