 
<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
  <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <li class="sidebar-toggler-wrapper hide">
    <div class="sidebar-toggler">
      <span></span>
    </div>
  </li>
  <!-- END SIDEBAR TOGGLER BUTTON -->
  <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
  <li class="module start nav-item">
    <a href="/">
      <i class="icon-home"></i>
      <span class="title">Dashboard</span>
      <span class="selected"></span>
    </a>
  </li>
  <% @menuData.each do |key, item|  %>
    <li class="module nav-item ">
      <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title"><%= key %></span>
        <span class="arrow"></span>
      </a>
      <ul class="sub-menu">
        <% item.each do |subKey, subItem|  %>
          <li class="nav-item start ">
            <a href="#" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title"><%= subKey %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>